@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond";
}

body {
    background-color: #C3DEED;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    background-color: #F9F9F9;
    border-radius: 20px;
}

.register__login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 89px 0;
    padding: 40px;
}

.register__login__two {
    margin: 150px 0;
}

#loginForm, .forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 0;
}

.header__links {
    display: flex;
    flex-direction: row;
    gap: 110px;
}

input, select {
    background-color: #C3DEED;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
}

.for__forma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.naming {
    margin-bottom: 40px;
    font-size: 40px;
    color: #2C6485;
    font-weight: bold;
}

button {
    background-color: #2C6485;
    border-radius: 30px;
    border: none;
    font-size: 22px;
    color: white;
    padding: 15px;
}

button:hover {
    background-color: #22303F;
}

.two__links {
    font-size: 19px;
    margin-top: 20px;
}

.reg__log__links {
    text-decoration: none;
    color: #2C6485;
    font-weight: 600;
}

#placeholder {
    color: black;
}

.profile, .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
    padding-bottom: 20px;
}

.title {
    font-size: 35px;
    color: #2C6485;
    text-align: center;
    padding-top: 30px;
}

.title__big {
    font-size: 45px;
}

.title__little {
    text-align: center;
    font-size: 28px;
    color: #2C6485;
    max-width: 400px;
}

.register__login__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inp {
    width: 360px;
}

.slide__main, .slide__create__coll, .article__slide {
    margin: 40px 70px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    max-width: 200px;
}

.create {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collections {
    display: flex;
    flex-direction: column;   
    margin-top: 50px;
    padding-bottom: 40px;
}

#cardList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    border: dashed #1f1f1f 1px;
    padding: 20px;
}

.pop {
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    color: #555991;
}

#collectionList {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.proverka {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.prov__button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

textarea {
    border-radius: 30px;
    width: 300px;
    padding: 15px;
    font-size: 17px;
}

.links__for__header {
    text-decoration: none;
    font-size: 20px;
    color: #2C6485;
    font-weight: 700;
}

.article__li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#articleList {
    border: dotted #2C6485 3px;
    padding: 20px;
    margin: 30px 0;
}

#articleForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 70px 0;
}

/* .index__blue {
    background-color: #C3DEED;
} */

.index__main {
    background-color: #F9F9F9;
    padding: 30px;
    border-radius: 90px;
    margin: 15px 0;
}

.index__main__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.index__main__first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.first {
    background-color: #C4DFF4;
    padding: 30px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.one {
    background-color: #BCC9CF;
    padding: 30px;
    display: flex;
    border-radius: 60px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.two {
    background-color: #A9E4EA;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    gap: 10px;
    align-items: center;
}

.index__main__second {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index__container {
    margin: 0 auto;
    max-width: 1200px;
}

.first__text {
    max-width: 225px;
    font-size: 26px;
    color: #2C6485;
}

.second__text {
    max-width: 220px;
    font-size: 22px;
    color: #F9F9F9;
    text-align: center;
}

.third__text {
    max-width: 200px;
    font-size: 22px;
    color: #2C6485;
    text-align: center;
}






@media screen and (max-width: 1024px) {

    .container {
        max-width: 960px;
    }

    .index__main__blocks {
        flex-direction: column;
    }
    .index__main__logo {
        display: none;
    }

    .index__main__first {
        padding-bottom: 30px;
    }

    .index__container {
        max-width: 900px;
    }

    button {
        font-size: 23px;
    }

    .register__login {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 700px;
    }

}

@media screen and (max-width: 576px) {
    
    .container {
        max-width: 370px;
    }

    .second {
        display: none;
    }
    
    .first {
        flex-direction: column;
        gap: 40px;
    }
}